.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}
.form-container h2 {
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-direction: column;
    gap: 10px;
}
.form-group label {
    flex: 1;
    padding-right: 10px;
}
.form-group input,
.form-group select,
.form-group textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group .radio-group,
.form-group .checkbox-group {
    display: flex;
    flex-direction: column;
}
.form-group .radio-group input,
.form-group .checkbox-group input {
    flex: 0;
    margin-right: 5px;
}
.form-group .radio-group label,
.form-group .checkbox-group label {
    flex: 1;
}
.form-group .file-input {
    padding: 0;
}
.form-group .file-input input {
    padding: 5px 10px;
}
.submit-btn {
    background-color: #8BC34A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #7CB342;
}
.radio{
    display: flex;
    margin-bottom: 15px;
}
.radio-lebel{
    margin-right:200px ;
}
.form-img{
    width: 200px;
    height: 200px;
    margin: 5px;
}
.form-img img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}